{% extends 'admin/includes/base.html' %}
{% load static %}
{% block title %}Users{% endblock %}
{% block content %}
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">User Details</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row gx-5">
                        
                        <div class="col-lg-9">
                            <!-- <section class="content-body p-xl-4">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row gx-3">
                                                <div class="col-lg-6 mb-3">
            <label class="form-label">First name</label>
            <input class="form-control" type="text" name="first_name" placeholder="Type here" required>
        </div>
                                                 <div class="col-lg-6 mb-3">
            <label class="form-label">Last name</label>
            <input class="form-control" type="text" name="last_name" placeholder="Type here" required>
        </div>
                                                <div class="col-lg-6 mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" name="email" placeholder="example@gmail.com" required>
        </div>
                                                <div class="col-lg-6 mb-3">
            <label class="form-label">Phone</label>
            <input class="form-control" type="tel" name="phone_number" placeholder="+91 1234567890">
        </div>
                                               <div class="col-lg-12  mb-3">
                                                    <label class="form-label">Address</label>
                                                    <input class="form-control" type="textarea" placeholder="Type here">
                                                </div> 
                                                
                                            </div> 
                                        </div> 
                                        <aside class="col-lg-4">
                                            <figure class="text-lg-center">
                                                <img class="img-lg mb-3 img-avatar" src="{% static 'admin/assets/imgs/people/avatar1.jpg' %}" alt="User Photo">
                                              
                                            </figure>
                                        </aside> 
                                    </div> 
                                    <br>
                                  

                             

                                
                            </section>  -->
                            <section class="content-body p-xl-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="row gx-3">
                <div class="col-lg-6 mb-3">
                    <label class="form-label">First name</label>
                    <input class="form-control" type="text" name="first_name"
                           value="{{ user.first_name }}" disabled style="cursor: pointer;">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label">Last name</label>
                    <input class="form-control" type="text" name="last_name"
                           value="{{ user.last_name }}" disabled style="cursor: pointer;">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" name="email"
                           value="{{ user.email }}" disabled style="cursor: pointer;">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label">Phone</label>
                    <input class="form-control" type="tel" name="phone_number"
                           value="{{ user.phone_number }}" disabled style="cursor: pointer;">
                </div>
                <div class="col-lg-12 mb-3">
                    <label class="form-label">Address</label>
                    <textarea class="form-control" name="address" rows="3" disabled style="cursor: pointer;">Coming Soon</textarea>
                </div>
            </div>
        </div>
        <aside class="col-lg-4">
            <figure class="text-lg-center">
                <img class="img-lg mb-3 img-avatar"
                     src="{% static 'admin/assets/imgs/people/avatar1.jpg' %}"
                     alt="User Photo">
            </figure>
        </aside>
    </div>
    <br>
</section>

                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                </div> <!-- card body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
{% endblock %}